{{#if todo.tags.length}}
  <p>TAGS:</p>
  {{#each tags as |tag|}}
    <p>NAME[ {{tag.name}} ]</p>
  {{/each}}

  {{#each todo.tags as |tag|}}
    <p>Tag name: [ {{tag.name}} ]</p>
  {{/each}}
{{/if}}
