<!-- autocomplete gets rid of the "helper" window sticking around after submit -->
<form autocomplete="off">
  <label for="todo">+</label>
  {{input value=todo placeholder='Create a new todo'}}
</form>
