<div class="todo-container">
  <h1>Todos</h1>
  {{todo-input todo=todo action="createTodo"}}
    <ul>
      {{#each model as |todo|}}
        {{todo-item todo=todo action="update" deleteTodo="deleteTodo"}}
      {{/each}}
    </ul>
    <div class="global-options">
      {{complete-all update="update" model=model}}
    </div>
</div>
